# Ignore config.yaml
config.yaml

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/