Flask
Adafruit-Blinka
Adafruit-PlatformDetect
Adafruit-PureIO
adafruit-circuitpython-max31865
adafruit-circuitpython-busdevice
board
digitalio
simple-pid
numpy
matplotlib
meater-python
sqlite3
requests
nest_asyncio