Quart
Adafruit-Blinka
Adafruit-PlatformDetect
Adafruit-PureIO
adafruit-circuitpython-max31865
adafruit-circuitpython-max31855
adafruit-circuitpython-ads1x15
adafruit-circuitpython-busdevice
adafruit-circuitpython-dht
lgpio
gpiozero
simple-pid
numpy
matplotlib
meater-python
requests
nest_asyncio
asyncio
setuptools
pyyaml