Flask
Adafruit-Blinka
Adafruit-PlatformDetect
Adafruit-PureIO
adafruit-circuitpython-max31865
adafruit-circuitpython-busdevice
adafruit-circuitpython-dht
lgpio
gpiozero
digitalio
simple-pid
numpy
matplotlib
meater-python
sqlite3
requests
nest_asyncio
asyncio
setuptools