<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Control Dashboard</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="settings.html">Settings</a>
    </div>
    <div class="content">
        <h1 id="deviceName">MasterPi Smoker</h1> <!-- Dynamically updated device name -->
        <p>Current Temperature:<div id="current-temp">Current temperature will be displayed here.</div></p>
        <p>Fan Status:<div id="fan-status">Fan status will be displayed here.</div></p>
        <p>Target Temperature: <input type="number" id="target-temp" min="0" max="700"> <button onclick="updateTargetTemp()">Set</button></p>
        <button onclick="emergencyShutdown()">Emergency Shutdown</button>
    </div>
    <script src="{{ url_for('static', filename='js/api.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/status.js') }}" type="module"></script>
</body>
</html>